<a href="https://colab.research.google.com/github/ujwala608/270ujwalasable/blob/master/assi_1_DM%26W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1]Importing Libraries

In [ ]:
import numpy as np
import pandas as pd

2)Uploading the Dataset from system

In [ ]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Students_Academic.csv to Students_Academic.csv
User uploaded file "Students_Academic.csv" with length 38026 bytes

3)Importing the Dataset

In [ ]:
dataset = pd.read_csv('Students_Academic.csv')
print(dataset)

    gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[480 rows x 17 columns]

4)Handling Duplicate Data

In [ ]:
# Prints the top few rows of the Dataset...
dataset.head()

  gender NationalITy  ... StudentAbsenceDays Class
0      M          KW  ...            Under-7     M
1      M          KW  ...            Under-7     M
2      M          KW  ...            Above-7     L
3      M          KW  ...            Above-7     L
4      M          KW  ...            Above-7     M

[5 rows x 17 columns]

In [ ]:
# Function use to get stats about the
dataset.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [ ]:
# Remove Duplicates
dataset = dataset.drop_duplicates()
print(dataset)

    gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[478 rows x 17 columns]

In [ ]:
# Function use to get stats about the dataset...
dataset.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   478.000000        478.000000         478.000000  478.000000
mean     46.887029         54.974895          38.014644   43.410042
std      30.787903         33.035071          26.623507   27.620961
min       0.000000          0.000000           0.000000    1.000000
25%      16.000000         20.000000          14.250000   20.000000
50%      50.000000         65.000000          33.000000   39.500000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

5) Handling Missing Data

In [ ]:
# Checking blank Values
dataset.isnull()

     gender  NationalITy  ...  StudentAbsenceDays  Class
0     False        False  ...               False  False
1     False        False  ...               False  False
2     False        False  ...               False  False
3     False        False  ...               False  False
4     False        False  ...               False  False
..      ...          ...  ...                 ...    ...
475   False        False  ...               False  False
476   False        False  ...               False  False
477   False        False  ...               False  False
478   False        False  ...               False  False
479   False        False  ...               False  False

[478 rows x 17 columns]

In [ ]:
# Checking null values category wise
dataset.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [ ]:
# Dropping categorical data rows with missing values
dataset.dropna(how='any', subset=['SectionID', 'Discussion'], inplace=True)

In [ ]:
# Checking null values category wise
dataset.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [ ]:
# Splitting dataset into independent & dependent variable
X = dataset[['PlaceofBirth', 'StageID', 'GradeID']].values
y = dataset['Discussion'].values
print(X)

[['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ...
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']]

In [ ]:
print(y)

[20 25 30 35 50 70 17 22 50 70 80 12 11 19 60 66 80 90 96 99 90 80 90 50
 70 40 40 33 43 35 70 16 50 40 40 30 22 90  4 70 70 50 33 90 90 70 30 90
 88 77 70 50 40 75 30 20  1  5 50 40 20 40 80 12  2 19 30 80 30 33 12 20
  8 19 13 60 44 33  9 55 40 70 80 50 10 12 50 50 33 50 60 19 15 40 10 70
 75 12 30 50 90  7  8 10  3 80 40 33  3 14 40 80 50 69 50 70 19 17 22 60
 50 30 12  5 15 17 55  9 16  2 30 50  3 70 70 70 70 40 90 70 20 10 11 19
 19 11 70 30 40 70 59 89 40 40 41 91 49 40 10 80 50 66 73 43 14 66 43 43
 33 23 33 33 13 33 43 53 33 11 13 33 93 33 53 53 13 33 53 51 53 23 53 13
 53 53 23 33 53 53 53 13 83 43 33 40 24 24 14 14 14 84 14 14 19 14  4 14
 61 10 94 34 13 24 40 90 70 30 30 10 81 10 29 20 50 46 66 26  6 66 66 76
 96 86  6 46 85 66 77 96 16 40 40 17 94 44 70 40 60 65 95 17 14 64 34  7
 32 37 17 29 10 20 30 36 16 26 70 60 26 27 25 27 37 37 80 86 36 39 89 85
 69 80 44 24 74 84 74 84 84 89 34 29 13  9 23 39 43 89 83 89 89 79 33 39
 43 49 83 89 23 13  3 10 11 15 21  5 31 35 83 80 41 33 21 23  3  7 21 20
 11 14 11 10 41 33 14 30 14 30  3  7  6 10 11 13 21 23 25 27 15 17 28 38
 38 39 28 29 38 48 31 34 21 23 97 98 51 23 61 63 91 83 98 93 28 33 28 23
 97 88  7  8 10 12 20 22 40 72 61 63 81 83 26 22 86 82 70 72  1  3 31 33
 21 43 51 83  1  3 71 83 81 84 31 43 45 43 79 68 11 13 41 49 61 68 81 98
 10 20 30 23 19 29 15 10 75 70 39 40 79 80 89 85 10  2 20 12 80 72 30 22
 81 83 71 72 89 92 90 92 58 60 80 85 41 53 68 70  8  8 28 29 57 62]

In [ ]:
from sklearn.impute import SimpleImputer
print(X[:, 1:3]) #working with only numerical data

[['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-04']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-07']
 ['lowerlevel' 'G-05']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['HighSchool' 'G-09']
 ['HighSchool' 'G-09']
 ['HighSchool' 'G-09']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-05']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-12']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-05']
 ['HighSchool' 'G-10']
 ['HighSchool' 'G-10']
 ['HighSchool' 'G-10']
 ['HighSchool' 'G-10']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['HighSchool' 'G-12']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['HighSchool' 'G-09']
 ['HighSchool' 'G-09']
 ['HighSchool' 'G-11']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['HighSchool' 'G-11']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['HighSchool' 'G-11']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['MiddleSchool' 'G-06']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-04']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['lowerlevel' 'G-02']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-07']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']
 ['MiddleSchool' 'G-08']]

Handling Categorical Data

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('enconder', OneHotEncoder(), [0])], remainder='passthrough')
y = np.array(ct.fit_transform(y))
print(y)

IndexError: ignored

In [ ]:
print(y)

[20 25 30 35 50 70 17 22 50 70 80 12 11 19 60 66 80 90 96 99 90 80 90 50
 70 40 40 33 43 35 70 16 50 40 40 30 22 90  4 70 70 50 33 90 90 70 30 90
 88 77 70 50 40 75 30 20  1  5 50 40 20 40 80 12  2 19 30 80 30 33 12 20
  8 19 13 60 44 33  9 55 40 70 80 50 10 12 50 50 33 50 60 19 15 40 10 70
 75 12 30 50 90  7  8 10  3 80 40 33  3 14 40 80 50 69 50 70 19 17 22 60
 50 30 12  5 15 17 55  9 16  2 30 50  3 70 70 70 70 40 90 70 20 10 11 19
 19 11 70 30 40 70 59 89 40 40 41 91 49 40 10 80 50 66 73 43 14 66 43 43
 33 23 33 33 13 33 43 53 33 11 13 33 93 33 53 53 13 33 53 51 53 23 53 13
 53 53 23 33 53 53 53 13 83 43 33 40 24 24 14 14 14 84 14 14 19 14  4 14
 61 10 94 34 13 24 40 90 70 30 30 10 81 10 29 20 50 46 66 26  6 66 66 76
 96 86  6 46 85 66 77 96 16 40 40 17 94 44 70 40 60 65 95 17 14 64 34  7
 32 37 17 29 10 20 30 36 16 26 70 60 26 27 25 27 37 37 80 86 36 39 89 85
 69 80 44 24 74 84 74 84 84 89 34 29 13  9 23 39 43 89 83 89 89 79 33 39
 43 49 83 89 23 13  3 10 11 15 21  5 31 35 83 80 41 33 21 23  3  7 21 20
 11 14 11 10 41 33 14 30 14 30  3  7  6 10 11 13 21 23 25 27 15 17 28 38
 38 39 28 29 38 48 31 34 21 23 97 98 51 23 61 63 91 83 98 93 28 33 28 23
 97 88  7  8 10 12 20 22 40 72 61 63 81 83 26 22 86 82 70 72  1  3 31 33
 21 43 51 83  1  3 71 83 81 84 31 43 45 43 79 68 11 13 41 49 61 68 81 98
 10 20 30 23 19 29 15 10 75 70 39 40 79 80 89 85 10  2 20 12 80 72 30 22
 81 83 71 72 89 92 90 92 58 60 80 85 41 53 68 70  8  8 28 29 57 62]

Label Encoding

In [ ]:
# Encoding the target variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[18 23 28 33 46 62 16 20 46 62 71 11 10 17 53 59 71 80 86 89 80 71 80 46
 62 38 38 31 40 33 62 15 46 38 38 28 20 80  3 62 62 46 31 80 80 62 28 80
 78 69 62 46 38 67 28 18  0  4 46 38 18 38 71 11  1 17 28 71 28 31 11 18
  7 17 12 53 41 31  8 49 38 62 71 46  9 11 46 46 31 46 53 17 14 38  9 62
 67 11 28 46 80  6  7  9  2 71 38 31  2 13 38 71 46 61 46 62 17 16 20 53
 46 28 11  4 14 16 49  8 15  1 28 46  2 62 62 62 62 38 80 62 18  9 10 17
 17 10 62 28 38 62 52 79 38 38 39 81 45 38  9 71 46 59 65 40 13 59 40 40
 31 21 31 31 12 31 40 48 31 10 12 31 83 31 48 48 12 31 48 47 48 21 48 12
 48 48 21 31 48 48 48 12 74 40 31 38 22 22 13 13 13 75 13 13 17 13  3 13
 54  9 84 32 12 22 38 80 62 28 28  9 72  9 27 18 46 43 59 24  5 59 59 68
 86 77  5 43 76 59 69 86 15 38 38 16 84 41 62 38 53 58 85 16 13 57 32  6
 30 35 16 27  9 18 28 34 15 24 62 53 24 25 23 25 35 35 71 77 34 37 79 76
 61 71 41 22 66 75 66 75 75 79 32 27 12  8 21 37 40 79 74 79 79 70 31 37
 40 45 74 79 21 12  2  9 10 14 19  4 29 33 74 71 39 31 19 21  2  6 19 18
 10 13 10  9 39 31 13 28 13 28  2  6  5  9 10 12 19 21 23 25 14 16 26 36
 36 37 26 27 36 44 29 32 19 21 87 88 47 21 54 56 81 74 88 83 26 31 26 21
 87 78  6  7  9 11 18 20 38 64 54 56 72 74 24 20 77 73 62 64  0  2 29 31
 19 40 47 74  0  2 63 74 72 75 29 40 42 40 70 60 10 12 39 45 54 60 72 88
  9 18 28 21 17 27 14  9 67 62 37 38 70 71 79 76  9  1 18 11 71 64 28 20
 72 74 63 64 79 82 80 82 51 53 71 76 39 48 60 62  7  7 26 27 50 55]

Splitting Data for Training & Testing

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [ ]:
print(X_train)

[['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['lebanon' 'MiddleSchool' 'G-07']
 ...
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'lowerlevel' 'G-02']]

In [ ]:
print(X_test)

[['Jordan' 'lowerlevel' 'G-02']
 ['Tunis' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['SaudiArabia' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['Iraq' 'MiddleSchool' 'G-06']
 ['USA' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['USA' 'HighSchool' 'G-12']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['lebanon' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Iran' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['SaudiArabia' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Morocco' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['lebanon' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['Syria' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'HighSchool' 'G-09']
 ['KuwaIT' 'HighSchool' 'G-12']
 ['SaudiArabia' 'HighSchool' 'G-11']
 ['Lybia' 'lowerlevel' 'G-02']
 ['SaudiArabia' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-07']
 ['lebanon' 'MiddleSchool' 'G-06']
 ['Iraq' 'MiddleSchool' 'G-06']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['lebanon' 'MiddleSchool' 'G-06']
 ['Morocco' 'lowerlevel' 'G-02']
 ['Palestine' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'HighSchool' 'G-12']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Iraq' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Lybia' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Syria' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-04']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['USA' 'HighSchool' 'G-11']
 ['Jordan' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Iraq' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Egypt' 'lowerlevel' 'G-02']
 ['Iran' 'lowerlevel' 'G-02']
 ['KuwaIT' 'HighSchool' 'G-11']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']]

In [ ]:
print(y_train)

[71 20 62 79 64 75 54 23 10 63  1 40 16 81 82 48 22 28 16 72 20 25 14 79
 20 46 64 38 31 80 11 80 21 76 39 62 79 71 30 80 63 48  9 39 53  2 60 38
 18 33 72 10 10 22 48 18  9 17 46 37 70 33 31 54 47 53  6 48 71 40 88 77
  3 17 71 21 74 26 38 83 37 48 16  2 27 16 28 40 62 46 12 29 46 71 15  9
 24 28 37 28 85 59 28 21 20 64 82 47 17 18 70 71  9 79 48 21 11 19 13 35
 31 44 49 72 19  8 27  4  0 28 79 43 74 12 40 38 17 19 34  9 12 46 45 14
 31 23 11 48 62 76 71 40 22 74 39 28 46 62  2 74 40 13 71 77  2 41 32 74
 21 71 19 18 46  1 28 38 51 19 79  6 38  6 24 62 80 61 12 18 13 62 57 23
 49 28 62 18 87 13 12 40 13 74  5 56 62 72 62  2 64 26 20 78 32 41 10 11
 13 28 10 79 48 58 62 67 54 31 46 20  1 17 12 59 71 71 15 75  7  5  8 31
 28 77 12 83 88 32 11 10 38 62 40 72 38 53 11 66 14 59 71 18 31 38 38 14
 10 47 38 68 45 10  2  9 17 24 38 31 56 13 31 62  4 37 71 62 54  9 79  7
 28 11 16 38 62 55 29 78  0 89 46 74 69 38 21 38 75 80 62 41 42 38 61 80
 67 46 84 29 37 31 17 21 15 29 73 86 38 43 34 62 75 69 13 80 79  2 62 59
 38 38 15 28 13 12 21 48 31 33  4 38 26 46 38  3 36 46 27 39 13  7 31 40
 75 17 14  0 84 76  9 80 13 62 62 18 65  6 36 53 71 27 80  7 59 31]

In [ ]:
print(y_test)

[19 31  9 22 16 11 35 40 80 28 18 71 70 21 25 48 62 12 53  5 60  9 31 48
 26 86 16 12 60 31 46 46 18  9 31 17 52  6  7 59 31 32 46 53 35 18 62 59
 74  9 50 62 24 28 46 74 21 26 13 45 28  2  9 31 62 46 46 27 40 25 39 31
 53  8 21 38 10 80 81 12  9 27 28 38  9 87 66 76 88 13  9 48 67 36 31 86]

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
y_train[:, 4:] = sc.fit_transform(y_train[:, 4:])

In [ ]:
print(X_train)

[['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['lebanon' 'MiddleSchool' 'G-07']
 ...
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'lowerlevel' 'G-02']]

In [ ]:
print(X_test)

[['Jordan' 'lowerlevel' 'G-02']
 ['Tunis' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['SaudiArabia' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['Iraq' 'MiddleSchool' 'G-06']
 ['USA' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['USA' 'HighSchool' 'G-12']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['lebanon' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Iran' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['SaudiArabia' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Morocco' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['lebanon' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['Syria' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'HighSchool' 'G-09']
 ['KuwaIT' 'HighSchool' 'G-12']
 ['SaudiArabia' 'HighSchool' 'G-11']
 ['Lybia' 'lowerlevel' 'G-02']
 ['SaudiArabia' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-07']
 ['lebanon' 'MiddleSchool' 'G-06']
 ['Iraq' 'MiddleSchool' 'G-06']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['lebanon' 'MiddleSchool' 'G-06']
 ['Morocco' 'lowerlevel' 'G-02']
 ['Palestine' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'HighSchool' 'G-12']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Iraq' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Iraq' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Lybia' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Syria' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'MiddleSchool' 'G-07']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-04']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['USA' 'HighSchool' 'G-11']
 ['Jordan' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-08']
 ['Jordan' 'MiddleSchool' 'G-06']
 ['KuwaIT' 'lowerlevel' 'G-04']
 ['KuwaIT' 'MiddleSchool' 'G-07']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Iraq' 'lowerlevel' 'G-04']
 ['Jordan' 'MiddleSchool' 'G-08']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'lowerlevel' 'G-02']
 ['Egypt' 'lowerlevel' 'G-02']
 ['Iran' 'lowerlevel' 'G-02']
 ['KuwaIT' 'HighSchool' 'G-11']
 ['Jordan' 'lowerlevel' 'G-02']
 ['Jordan' 'lowerlevel' 'G-02']
 ['KuwaIT' 'MiddleSchool' 'G-07']]

In [ ]:
X_test[:, 4:] = sc.transform(X_test[:, 4:])
print(X_test)